<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.mapper.ArticleMapper">
	<resultMap type="com.zyp.bean.Article" id="aa">
		<association property="channel" select="findChannel" column="channel_id" javaType="com.zyp.bean.Channel">
		
		</association>
		<association property="category" select="findCatigory"  column="category_id" javaType="com.zyp.bean.Category">
		
		</association>
	</resultMap>
	<select id="list" resultMap="aa">
		SELECT id,title,channel_id,category_id , created,STATUS 
		  FROM cms_article 
		  WHERE user_id =#{id} AND deleted=0
		  ORDER BY id DESC 
	</select>
	
	<!-- 获取频道 -->
	<select id="findChannel" resultType="com.zyp.bean.Channel">
		SELECT id,name FROM cms_channel WHERE id=#{id}
	</select>
	
	<!-- 获取分类 -->
	<select id="findCatigory" resultType="com.zyp.bean.Category">
		SELECT id,name FROM cms_category WHERE id=#{id}
	</select>
	
	<select id="toUpdateArticle" resultMap="aa">
		SELECT * FROM cms_article WHERE id=#{value} AND deleted=0
	</select>
	<resultMap type="com.zyp.bean.Compain" id="cc">
		<association property="user" javaType="com.zyp.bean.User" select="findUser" column="user_id">
			
		</association>
	</resultMap>
	<select id="findUser" resultType="com.zyp.bean.User">
		select * from cms_user where id=#{id}
	</select>
	<select id="compainList" resultMap="cc">
			SELECT c.*,a.content content,a.complainCnt complainCnt,a.title title 
			FROM cms_complain c,cms_article a WHERE c.article_id=a.id
			<if test="complaintype!=null and complaintype!=''">
				and complaintype=#{complaintype}
			</if>
			<if test="cnt1!=0">
				and complainCnt>#{cnt1}
			</if>
			<if test="cnt2!=0">
				and complainCnt &lt; #{cnt2} 
			</if>
			ORDER BY complainCnt desc
	</select>
	
	<select id="getcompain" resultMap="cc">
		SELECT c.*,a.content content,a.complainCnt complainCnt,a.title title,u.username username
		FROM cms_complain c,cms_article a,cms_user u WHERE c.article_id=a.id AND c.user_id=u.id
		AND c.id=#{id}
	</select>
</mapper>