<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyp.mapper.HomeMapper">
	<resultMap type="com.zyp.bean.Article" id="aa">
		<association property="channel" select="findChannel" column="channel_id" javaType="com.zyp.bean.Channel">
		
		</association>
		<association property="category" select="findCatigory"  column="category_id" javaType="com.zyp.bean.Category">
		
		</association>
		<association property="user" select="findUser"  column="user_id" javaType="com.zyp.bean.User">
		
		</association>
	</resultMap>
	
	<select id="list" resultMap="aa">
		SELECT * FROM cms_article WHERE channel_id=#{value} AND deleted=0
	</select>
	
	<select id="list2" resultMap="aa">
		SELECT * FROM cms_article WHERE  deleted=0
	</select>
	
	<!-- 获取频道 -->
	<select id="findChannel" resultType="com.zyp.bean.Channel">
		SELECT id,name FROM cms_channel WHERE id=#{id}
	</select>
	
	<!-- 获取分类 -->
	<select id="findCatigory" resultType="com.zyp.bean.Category">
		SELECT id,name FROM cms_category WHERE id=#{id}
	</select>
	
	<!-- 获取用户 -->
	<select id="findUser" resultType="com.zyp.bean.User">
		SELECT id,username FROM cms_user WHERE id=#{id}
	</select>
	
	<select id="hostList" resultMap="aa">
		SELECT * FROM cms_article WHERE hot=1 and  deleted=0
	</select>
	
	<select id="getArticles" resultMap="aa">
		select * from cms_article where channel_id=#{channelId} and category_id=#{catId}
	</select>
	
	<select id="getArt" resultMap="aa">
		select * from cms_article where channel_id=#{channelId}
	</select>
	
	<select id="getCategoriesByChannelId" resultType="com.zyp.bean.Category">
		select * from cms_category where channel_id=#{channelId}
	</select>
	
	<select id="detail" resultMap="aa">
		select * from cms_article where id=#{id}
	</select>
	
</mapper>
